# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war

# GraalVM Native Image
*.o
*.h
graalvm-reachability-metadata/

# Logs
*.log
